<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>{{restaurant.Name|safe}}: Top 100 Bay Area Restaurants 2018</title>
    <meta name="ispremium" content="1">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="icon" href="https://www.sfchronicle.com/favicon.ico?v=3">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
    <link rel="stylesheet" href="//projects.sfchronicle.com/shared/js/jquery-ui.min.css">
    <link rel="stylesheet" href="//projects.sfchronicle.com/shared/css/swiper.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='styles/style.css')}}?2">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href="//fonts.googleapis.com/css?family=Cardo|Fjalla+One|Pathway+Gothic+One" rel="stylesheet">
    <script src="//projects.sfchronicle.com/shared/js/swiper.min.js"></script>
    <script src="//projects.sfchronicle.com/shared/js/jquery.min.js"></script>
    <script src="//projects.sfchronicle.com/shared/js/jquery-ui.min.js"></script>
    {% include 'components/_hearst.html' %}

    <!-- Loading syncronex paywall -->
    {% include 'components/_syncronex.html' %}

    <!-- Begin Hearst analytics -->
    <script type="text/javascript">
        var omni_channelPath = "Food :: Top 100 2018";
        var omni_title = "Top 100 2018: {{restaurant.Name|safe}}";
        var omni_paywallSite = "1";
        var omni_className = "article";
        var omni_publicationDate = "{{ config.DATE }} 00:00:00";
        var omni_authorName = "";
        var omni_authorTitle = "San Francisco Chronicle staff";
        var HDN = HDN || {};
        HDN.dataLayer = HDN.dataLayer || {};

        // HDN.dataLayer object for content and href data
        HDN.dataLayer.content = HDN.dataLayer.content || {};
        HDN.dataLayer.href = HDN.dataLayer.href || {};
        HDN.dataLayer.content.title = "{{ restaurant.Name|safe }}: Top 100 Restaurants 2018";
        HDN.dataLayer.content.subtitle = "";
        HDN.dataLayer.content.objectId = "";
        HDN.dataLayer.content.objectType = "article";
        HDN.dataLayer.content.sectionPath = ['Food', 'Special Projects'];
        HDN.dataLayer.content.pubDate = "{{ config.DATE }} 00:00:00";
        HDN.dataLayer.content.wordCount = "";
        HDN.dataLayer.content.keywords = [];
        HDN.dataLayer.content.keySubjects = [];
        HDN.dataLayer.content.keyPersons = [];
        HDN.dataLayer.content.keyOrganizations = [];
        HDN.dataLayer.content.keyConcepts = [];
        HDN.dataLayer.content.keyCategories = [];
        HDN.dataLayer.content.keyPlaces = [];
        HDN.dataLayer.content.keyNlpPerson = [];
        HDN.dataLayer.content.keyNlpLocation = [];
        HDN.dataLayer.content.keyNlpOrganization = [];
        HDN.dataLayer.content.keyNlpEvent = [];
        HDN.dataLayer.content.keyNlpWorkOfArt = [];
        HDN.dataLayer.content.keyNlpConsumerGood = [];
        HDN.dataLayer.content.keyNlpOther = [];
        HDN.dataLayer.content.keyNlpUnknown = [];

        // HDN.dataLayer object for source information
        HDN.dataLayer.source = HDN.dataLayer.source || {};
        HDN.dataLayer.source.authorName = "Michael Bauer, Kitty Morgan, Russell Yip, Lucio Villa, Emma O'Neill, Evan Wagstaff";
        HDN.dataLayer.source.authorTitle = "San Francisco Chronicle Staff";
        HDN.dataLayer.source.originalSourceSite = "SF";
        HDN.dataLayer.source.publishingSite = "premiumsfgate";
        HDN.dataLayer.source.sourceSite = "sfgate";

        // HDN.dataLayer object for sharing information
        HDN.dataLayer.sharing = HDN.dataLayer.sharing || {};
        HDN.dataLayer.sharing.openGraphUrl = "https://projects.sfchronicle.com/2018/top-100-restaurants/{{restaurant.slug}}";
        HDN.dataLayer.sharing.openGraphType = "article";

        HDN.dataLayer.href.pageUrl = "https://projects.sfchronicle.com/2018/top-100-restaurants/{{restaurant.slug}}";
        HDN.dataLayer.href.canonicalUrl = "https://projects.sfchronicle.com/2018/top-100-restaurants/{{restaurant.slug}}";
        HDN.dataLayer.href.pageUrlPath = window.location.pathname;
        HDN.dataLayer.href.pageUrlPathFolders = window.location.pathname.replace(/[A-Za-z0-9-_.]+$/, '');
        HDN.dataLayer.href.pageUrlQueryParams = window.location.search.replace(/^\?/, '');
        HDN.dataLayer.href.pageUrlHash = window.location.hash;

        // HDN.dataLayer object for presentation information
        HDN.dataLayer.presentation = HDN.dataLayer.presentation || {};
        HDN.dataLayer.presentation.hasSlideshow = "";
        HDN.dataLayer.presentation.hasSlideshowListView = "";
        HDN.dataLayer.presentation.hasVideo = "";
        HDN.dataLayer.presentation.hasInteractive = "";

        // HDN.dataLayer object for paywall information
        HDN.dataLayer.paywall = HDN.dataLayer.paywall || {};
        HDN.dataLayer.paywall.premiumStatus = "isPremium";
        HDN.dataLayer.paywall.premiumEndDate = "";
        HDN.dataLayer.paywall.policy = "{{ config.PAYWALL }}";
    </script>
    <!-- End Hearst analytics -->

    <!-- Hearst analytics: Ensighten -->
    <script type="text/javascript">
      (function(e) {
        var t = '//nexus.ensighten.com/hearst/news/Bootstrap.js';
        if (e.cookie.indexOf("nsghtn") > -1) {
          if(e.cookie.indexOf("nsghtn=test-dev") > -1) {
          console.log("Ensighten :: Test-Dev"); t = "//nexus-test.ensighten.com/hearst/news-dev/Bootstrap.js";
          } else if(e.cookie.indexOf("nsghtn=test") > -1) {
          console.log("Ensighten :: Test"); t = "//nexus-test.ensighten.com/hearst/news/Bootstrap.js";
          } else if(e.cookie.indexOf("nsghtn=dev") > -1) {
          console.log("Ensighten :: Dev"); t = "//nexus.ensighten.com/hearst/news-dev/Bootstrap.js";
          }
        }
        e.write("<scr"+"ipt src='"+e.location.protocol+t+"'></scr"+"ipt>");
      })(document);
    </script>
    <!-- End Hearst analytics: Ensighten -->

    {% block head %}{% endblock %}

  </head>
  <body class="{% if config.DEV %}debug{% endif %}">
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    {% block content %}{% endblock %}

    <script>
        // Pass vars into JS
        var restaurant = {{ restaurant|tojson }};
        var restaurants = {{ restaurants|tojson }};
    </script>
    <script src="{{ url_for('index') }}static/scripts/main.js?2"></script>

    {% block javascript %}{% endblock %}

</body>
</html>
