<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>Top 100 2018</title>
    <meta name="ispremium" content="1">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="icon" href="https://www.sfchronicle.com/favicon.ico?v=3">
    <link rel="stylesheet" href="{{url_for('static', filename='styles/style.css')}}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Cardo|Fjalla+One|Pathway+Gothic+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
    <script src="http://projects.sfchronicle.com/shared/js/jquery.min.js"></script>
    {% include 'components/_hearst.html' %}
    {% include 'components/_landing-analytics.html' %}
    {% include 'components/_landing-social.html' %}
  </head>

{% include 'components/_top-nav.html' %}

<div class="title">{{collection}}</div>

{% if (collection == "regions") %}
  <div class="regions-container">
    <div class="region-button" id="sf-region">San Francisco</div>
    <div class="region-button" id="northbay-region">North Bay</div>
    <div class="region-button" id="southbay-region">South Bay</div>
    <div class="region-button" id="eastbay-region">East Bay</div>
  </div>
  <div class="subregions-container" id="sf-subregions">
    <div class="subregion-button" id="soma-subregion">SoMa</div>
    <div class="subregion-button" id="mission-subregion">Mission</div>
    <div class="subregion-button" id="financialdistrict-subregion">Financial District</div>
    <div class="subregion-button" id="presidio-subregion">Presidio</div>
  </div>
  <div class="subregions-container" id="northbay-subregions">
    <div class="subregion-button" id="napa-subregion">Napa</div>
    <div class="subregion-button" id="sonoma-subregion">Sonoma</div>
    <div class="subregion-button" id="healdsburg-subregion">Healdsburg</div>
    <div class="subregion-button" id="yountville-subregion">Yountville</div>
  </div>
  <div class="subregions-container" id="southbay-subregions">
    <div class="subregion-button" id="burlingame-subregion">Burlingame</div>
    <div class="subregion-button" id="losgatos-subregion">Los Gatos</div>
  </div>
  <div class="subregions-container" id="eastbay-subregions">
    <div class="subregion-button" id="berkeley-subregion">Berkeley</div>
    <div class="subregion-button" id="oakland-subregion">Oakland</div>
    <div class="subregion-button" id="portcosta-subregion">Port Costa</div>
  </div>
{% endif %}

{% if (collection == "cuisines") %}
  {% set cuisineList = '' %}
  <div class="cuisines-container">
    {% for r in restaurants %}
      {% set cuisineNameList = r.Cuisine.split('and') %}
      {% for n in cuisineNameList %}
        {% if n not in cuisineList %}
          {% set cuisineName = n.lower().replace(' ','').replace(',',' ').replace('/',' ') %}
          <div class="cuisine-button" id="{{cuisineName}}-cuisine">{{n}}</div>
        {% endif %}
      {% endfor %}
      {% set cuisineList = cuisineList + " " + r.Cuisine %}
    {% endfor %}
  </div>
{% endif %}

<div class="restaurant-container">
<div class="restaurant-inner-container">
{% for r in restaurants %}
  {% set photos = r.wcm_img.split(' ') %}

  {% if (collection == "regions" or collection == "cuisines") %}

    {% set regionName = r.Region.lower().replace(' ','').replace(',',' ').replace('/',' ') %}
    {% set subregionName = r.SubRegion.lower().replace(' ','').replace(',',' ').replace('/',' ') %}
    {% set cuisineName = r.Cuisine.lower().replace(' ','').replace(',',' ').replace('/',' ').replace('and',' ') %}

    <div class="restaurant active {{ regionName }} {{ subregionName }} {{cuisineName}}" target="_blank">
        <img src="https://s.hdnux.com/photos/72/15/17/{{ photos[0] }}/7/premium_landscape.jpg">
      </a>
      <div class="name">
        <div class="rname">{{ r.Name }} {{ r.otherName }}</div>
        <div class="favorites">
          Save
          <span class="save-restaurant" id="save{{ r.Slug }}"><i class="fa fa-square-o" aria-hidden="true"></i></span>
        </div>
      </div>
      <div class="info">{{ r.Cuisine }} | {{ r.SubRegion }}</div>
    </div>

  {% endif %}

  {% if (collection == "brunch" and r.Brunch != "No") %}
    <div class="restaurant active" target="_blank">
        <img src="https://s.hdnux.com/photos/72/15/17/{{ photos[0] }}/7/premium_landscape.jpg">
      </a>
      <div class="name">
        <div class="rname">{{ r.Name }} {{ r.otherName }}</div>
        <div class="favorites">
          Save
          <span class="save-restaurant" id="save{{ r.Slug }}"><i class="fa fa-square-o" aria-hidden="true"></i></span>
        </div>
      </div>
      <div class="info">{{ r.Cuisine }} | {{ r.SubRegion }}</div>
    </div>
  {% endif %}

  {% if (collection == "classics" and r.Returning == "Classic") %}
    <div class="restaurant active" target="_blank">
        <img src="https://s.hdnux.com/photos/72/15/17/{{ photos[0] }}/7/premium_landscape.jpg">
      </a>
      <div class="name">
        <div class="rname">{{ r.Name }} {{ r.otherName }}</div>
        <div class="favorites">
          Save
          <span class="save-restaurant" id="save{{ r.Slug }}"><i class="fa fa-square-o" aria-hidden="true"></i></span>
        </div>
      </div>
      <div class="info">{{ r.Cuisine }} | {{ r.SubRegion }}</div>
    </div>
  {% endif %}

  {% if (collection == "new" and r.New == "New") %}
    <div class="restaurant active" target="_blank">
        <img src="https://s.hdnux.com/photos/72/15/17/{{ photos[0] }}/7/premium_landscape.jpg">
      </a>
      <div class="name">
        <div class="rname">{{ r.Name }} {{ r.otherName }}</div>
        <div class="favorites">
          Save
          <span class="save-restaurant" id="save{{ r.Slug }}"><i class="fa fa-square-o" aria-hidden="true"></i></span>
        </div>
      </div>
      <div class="info">{{ r.Cuisine }} | {{ r.SubRegion }}</div>
    </div>
  {% endif %}



{% endfor %}
</div>
</div>

{% include 'components/_footer.html' %}

<script src="/static/scripts/collections.js"></script>
