<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>Top 100 2018</title>
    <meta name="ispremium" content="1">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="icon" href="https://www.sfchronicle.com/favicon.ico?v=3">
    <link rel="stylesheet" href="{{url_for('static', filename='styles/style.css')}}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href="//fonts.googleapis.com/css?family=Cardo|Fjalla+One|Pathway+Gothic+One" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
    <script src="//projects.sfchronicle.com/shared/js/jquery.min.js"></script>
    {% include 'components/_hearst.html' %}
    {% include 'components/_landing-analytics.html' %}
    {% include 'components/_landing-social.html' %}
  </head>

{% include 'components/_top-nav.html' %}

<div class="title">{{collection}}</div>
<div class="deck">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur...</div>

{% if (collection == "regions") %}
  <div class="regions-container">
    <div class="region-button" id="sf-region">San Francisco</div>
    <div class="region-button" id="northbay-region">North Bay</div>
    <div class="region-button" id="southbay-region">South Bay</div>
    <div class="region-button" id="eastbay-region">East Bay</div>
  </div>
  <div class="dropdown-container active">
    <div class="select-text">Filter by region:</div>
    <select name="select" id="select-regions">
      <option value='all'>All</option>
      <option value="sanfrancisco-region">San Francisco</option>
      <option value="northbay-region">North Bay</option>
      <option value="southbay-region">South Bay</option>
      <option value="eastbay-region">East Bay</option>
    </select>
  </div>
  <div class="subregions-container" id="sf-subregions">
    {% set sfsubs = 'Castro','Chinatown','Civic Center','Dogpatch','Embarcadero','Financial District','Hayes Valley','Marina/Cow Hollow','Mission','Noe Valley','NoPa','North Beach','Pacific Heights','Presidio','Russian Hill/Nob Hill','SoMa','South Beach','Tenderloin','The Richmond','Union Square','Western Addition' %}
    {% for c in sfsubs %}
      {% set subname = c.lower().replace('-','').replace(' ','').replace(',',' ').replace('/',' ') %}
      <div class="subregion-button" id="{{subname}}-subregion">{{c}}</div>
    {% endfor %}
  </div>
  <div class="dropdown-container subregions-dropdown" id="sanfrancisco-subregions-dropdown">
    <div class="select-text">Filter by subregion:</div>
    <select name="select" id="select-sf-subregions">
      <option value='allsanfrancisco' class="option">All</option>
      {% for c in sfsubs %}
        {% set subname = c.lower().replace('-','').replace(' ','').replace(',',' ').replace('/',' ') %}
        <option value="{{subname}}-subregion">{{c}}</option>
      {% endfor %}
    </select>
  </div>
  <div class="subregions-container" id="northbay-subregions">
    {% set northbaysubs = 'Healdsburg','Napa','San Anselmo','Sausalito','Sonoma','St. Helena','Yountville'%}
    {% for c in northbaysubs %}
      {% set subname = c.lower().replace('-','').replace(' ','').replace(',',' ').replace('/',' ') %}
      <div class="subregion-button" id="{{subname}}-subregion">{{c}}</div>
    {% endfor %}
  </div>
  <div class="dropdown-container subregions-dropdown" id="northbay-subregions-dropdown">
    <div class="select-text">Filter by subregion:</div>
    <select name="select" id="select-northbay-subregions">
      <option value='allnorthbay' class="option">All</option>
      {% for c in northbaysubs %}
        {% set subname = c.lower().replace('-','').replace(' ','').replace(',',' ').replace('/',' ') %}
        <option value="{{subname}}-subregion">{{c}}</option>
      {% endfor %}
    </select>
  </div>
  <div class="subregions-container" id="southbay-subregions">
    <!-- <div class="subregion-button" id="millbrae-subregion">Millbrae</div> -->
  </div>
  <div class="subregions-container" id="eastbay-subregions">
    <div class="subregion-button" id="berkeley-subregion">Berkeley</div>
    <div class="subregion-button" id="oakland-subregion">Oakland</div>
    <div class="subregion-button" id="portcosta-subregion">Port Costa</div>
  </div>
  <div class="dropdown-container subregions-dropdown" id="eastbay-subregions-dropdown">
    <div class="select-text">Filter by subregion:</div>
    <select name="select" id="select-eastbay-subregions">
      <option value='alleastbay' class="option">All</option>
      <option value="berkeley-subregion">Berkeley</option>
      <option value="oakland-subregion">Oakland</option>
      <option value="portcosta-subregion">Port Costa</option>
    </select>
  </div>

{% endif %}

{% if (collection == "cuisines") %}
  {% set cuisineList = 'American','Chinese','Drink-centric','French','Greek','Hawaiian','Indian','International','Italian','Japanese','Mexican','Moroccan','Northern California','Rotisserie','Seafood','Spanish','Thai','Vietnamese' %}
  <div class="cuisines-container">
    {% for c in cuisineList %}
      {% set cuisineName = c.lower().replace('-','').replace(' ','').replace(',',' ').replace('/',' ') %}
      <div class="cuisine-button" id="{{cuisineName}}-cuisine">{{c}}</div>
    {% endfor %}
  </div>
  <div class="dropdown-container cusines-dropdown active" id="cuisines-dropdown">
    <div class="select-text">Filter by cuisine:</div>
    <select name="select" id="select-cuisine">
      <option value='allcuisines' class="option">All</option>
      {% for c in cuisineList %}
        {% set cuisineName = c.lower().replace('-','').replace(' ','').replace(',',' ').replace('/',' ') %}
        <option value="{{cuisineName}}-cuisine">{{c}}</option>
      {% endfor %}
    </select>
  </div>
{% endif %}

<div class="restaurant-container">
<div class="restaurant-inner-container">
{% for r in restaurants %}
  {% set photos = r.wcm_img.split(' ') %}

  {% if (collection == "regions" or collection == "cuisines") %}

    {% set regionName = r.Region.lower().replace(' ','').replace(',',' ').replace('/',' ') %}
    {% set subregionName = r.SubRegion.lower().replace(' ','').replace(',',' ').replace('/',' ') %}
    {% set cuisineName = r.Cuisine.lower().replace(' ','').replace(',',' ').replace('/',' ').replace('and',' ').replace('-','') %}

    <div class="restaurant active {{ regionName }} {{ subregionName }} {{cuisineName}}" target="_blank">
        <div class="image-wrapper"><img class="lazyload" data-src="https://s.hdnux.com/photos/72/15/17/{{ photos[0] }}/7/premium_landscape.jpg"></div>
      </a>
      <div class="name">
        <div class="rname">{{ r.Name }} {{ r.otherName }}</div>
        <div class="favorites">
          Save
          <span class="save-restaurant" id="save{{ r.Slug }}"><i class="fa fa-square-o" aria-hidden="true"></i></span>
        </div>
      </div>
      <div class="info">{{ r.Cuisine }} | {{ r.SubRegion }}</div>
    </div>

  {% endif %}

  {% if (collection == "brunch" and r.Brunch != "No") %}
    <div class="restaurant active" target="_blank">
        <div class="image-wrapper"><img class="lazyload" data-src="https://s.hdnux.com/photos/72/15/17/{{ photos[0] }}/7/premium_landscape.jpg"></div>
      </a>
      <div class="name">
        <div class="rname">{{ r.Name }} {{ r.otherName }}</div>
        <div class="favorites">
          Save
          <span class="save-restaurant" id="save{{ r.Slug }}"><i class="fa fa-square-o" aria-hidden="true"></i></span>
        </div>
      </div>
      <div class="info">{{ r.Cuisine }} | {{ r.SubRegion }}</div>
    </div>
  {% endif %}

  {% if (collection == "classics" and r.Returning == "Classic") %}
    <div class="restaurant active" target="_blank">
        <div class="image-wrapper"><img class="lazyload" data-src="https://s.hdnux.com/photos/72/15/17/{{ photos[0] }}/7/premium_landscape.jpg"></div>
      </a>
      <div class="name">
        <div class="rname">{{ r.Name }} {{ r.otherName }}</div>
        <div class="favorites">
          Save
          <span class="save-restaurant" id="save{{ r.Slug }}"><i class="fa fa-square-o" aria-hidden="true"></i></span>
        </div>
      </div>
      <div class="info">{{ r.Cuisine }} | {{ r.SubRegion }}</div>
    </div>
  {% endif %}

  {% if (collection == "new" and r.Returning == "No") %}
    <div class="restaurant active" target="_blank">
        <div class="image-wrapper"><img class="lazyload" data-src="https://s.hdnux.com/photos/72/15/17/{{ photos[0] }}/7/premium_landscape.jpg"></div>
      </a>
      <div class="name">
        <div class="rname">{{ r.Name }} {{ r.otherName }}</div>
        <div class="favorites">
          Save
          <span class="save-restaurant" id="save{{ r.Slug }}"><i class="fa fa-square-o" aria-hidden="true"></i></span>
        </div>
      </div>
      <div class="info">{{ r.Cuisine }} | {{ r.SubRegion }}</div>
    </div>
  {% endif %}



{% endfor %}
</div>
</div>

{% include 'components/_footer.html' %}

<script src="/static/scripts/collections.js"></script>
