<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>Top 100 2018</title>
    <meta name="ispremium" content="1">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="icon" href="https://www.sfchronicle.com/favicon.ico?v=3">
    <link rel="stylesheet" href="{{url_for('static', filename='styles/style.css')}}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <script src="http://projects.sfchronicle.com/shared/js/jquery.min.js"></script>
    {% include 'components/_hearst.html' %}
    {% include 'components/_landing-analytics.html' %}
    {% include 'components/_landing-social.html' %}
  </head>

  <body class="{% if config.DEV %}debug{% endif %}">
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->



    <div id="log-in-instructions">
    	<div class="login">
        <!-- Gigya signin -->
        <div class="treg-is-gigya gigya_menu" >
          <div class="gigya-login">
          <div id="exit">X</div>
            <div class="login-header">Login with your subscription account to save restaurants to "My List" and/or "Favorites."</div>
            <div class="treg-gya-login-widget"></div>
            <div class="subscribe">
              <h6 class="no-sub">Don't have a subscription?</h6>
              <a class="gya-btn" href="https://offers.sfchronicle.com/offers/top100?groupid=31" target="_blank">Subscribe</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% include 'components/_top-nav.html' %}

    <div id="container">

      <div id="lead-image"></div>

      <div id="intro">
        <p>So many high-quality restaurants have opened in recent years that it feels as if we’re in the golden age of dining. The downside: It can take a lot of gold to eat out these days.</p>

        <p>I hope you find these restaurants as worthy as I do. Either way, I look forward to your feedback.</p>

        <p><em>- Michael Bauer</em></p>
      </div>

      <div id="search">
        <div id="search-bar">
          <input type="text" placeholder='Try "French" or "Oakland"...' /><i class="fa fa-search" aria-hidden="true"></i>
        </div>
        <button><i class="fa fa-plus-square" aria-hidden="true"></i>New</button>
        <button><i class="fa fa-coffee" aria-hidden="true"></i>Brunch</button>
        <button><i class="fa fa-map-marker" aria-hidden="true"></i>Map</button>
      </div>

      <div id="restaurants">
        <div id="results">
          <div class="count-results hide" id="count-results">100 result(s)</div>
          {% for r in restaurants %}{% set photos = r.wcm_img.split(' ') %}
          <div class="restaurant {{ r.Name }} {{ r.Cuisine }} {{ r.Region }} {{ r.SubRegion }} {{ r.New }} {{ r.Brunch }} {{ r.PriceCategory }} {{r.Noise}} active" id="{{ r.slug }}">
          	<a href="{{ url_for('index') }}{{r.slug}}" target="_blank">
              <img src="https://s.hdnux.com/photos/72/15/17/{{ photos[0] }}/7/premium_landscape.jpg">
            </a>
            <div class="name">
              <div class="rname">{{ r.Name }} {{ r.otherName }}</div>
              <div class="favorites">
                Save
                <span class="save-restaurant" id="save{{ r.slug }}"><i class="fa fa-square-o" aria-hidden="true"></i></span>
              </div>
            </div>
            <div class="info">{{ r.Cuisine }} | {{ r.SubRegion }}</div>
          </div>
          {% endfor %}

        </div>

        <div class="search-noresults hide" id="search-noresults">No restaurants match your search.<br>Try new search filters.</div>
        <div class="hide" id="no-saved-restaurants">Use this list to keep track of your favorite restaurants, restaurants you want to visit, or anything you like! Check the box next to any restaurant's name to add it to this list.</div>

        {% include 'components/_footer.html' %}

      </div><!-- Closing #restaurants -->

      {% include 'components/_bottom-nav.html' %}

    </div><!-- Closing #container -->

    <script src="/static/scripts/landing.js"></script>

  </body>
</html>
