<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>Top 100 2018</title>
    <meta name="ispremium" content="1">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="icon" href="//www.sfchronicle.com/favicon.ico?v=3">
    <link rel="stylesheet" href="{{url_for('static', filename='styles/style.css')}}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <script src="//projects.sfchronicle.com/shared/js/jquery.min.js"></script>
    <script src="//projects.sfchronicle.com/shared/js/jquery-ui.min.js"></script>
    <script src="//projects.sfchronicle.com/shared/js/jquery-base64.min.js"></script>
    <link rel="stylesheet" href="//projects.sfchronicle.com/shared/js/jquery-ui.min.css">
    <link href="https://fonts.googleapis.com/css?family=Cardo|Fjalla+One|Pathway+Gothic+One" rel="stylesheet">
    {% include 'components/_hearst.html' %}
    {% include 'components/_landing-analytics.html' %}
    {% include 'components/_landing-social.html' %}
  </head>

  <body class="{% if config.DEV %}debug{% endif %}">
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div id="log-in-instructions">
    	<div class="login">
        <!-- Gigya signin -->
        <div class="treg-is-gigya gigya_menu" >
          <div class="gigya-login">
          <div id="exit"><i class="fa fa-close"></i></div>
            <div class="login-header">Log in with your subscription account to save restaurants to your list.</div>
            <div class="treg-gya-login-widget"></div>
            <div class="subscribe">
              <h6 class="no-sub">Don't have a subscription?</h6>
              <a class="gya-btn" href="https://offers.sfchronicle.com/offers/top100?groupid=31" target="_blank">Subscribe</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="container">
      <div id="landing-logo"><img src="http://projects.sfchronicle.com/shared/logos/sfc_logo_white.png"></div>

      <div class="lead-container">
        
        <div class="overlay-container">
          <div class="overlay">
            <div class="link"><span class="top100-hed">Top 100 </span><span class="top100-hed-rest">Restaurants </span><span class="top100-hed">2018</span></div>
            <div class="deck">San Francisco Chronicle's Food Critic, Michael Bauer, Top 100 picks for the best restaurants in the Bay Area, with the finest dining, the best ambiances and the most memorable experiences.</div>
            <div id="buttons">
              <div class="instructions" id="introduction">Read the intro</div>
              <div class="instructions" id="restaurants">Restaurants</div>
            </div>
            
          </div>
        </div>

        <div id="lead-image" class="lead-desktop"><img src="{{url_for('static', filename='images/cover3.jpg')}}"></img></div>
      
      </div>

      

      <div id="intro">

        {% for i in intro.text %}
          <p>{{i.value|safe}}</p>
        {% endfor %}
        <div id="readmore-text">
          {% for i in intro.readmore %}
            <p>{{i.value|safe}}</p> 
          {% endfor %}
        </div>

        <div id="readmore-btn-container"><span id="readmore-btn" class="uncollapsed">Read More</span></div>

        <div id="search-stick-here"></div>
        
      </div>


      
      {% include 'components/_top-nav.html' %}

      <div id="restaurants">
        <div id="results">
          <div class="count-results hide" id="count-results">100 result(s)</div>
          {% set cuisineString = "" %}
          {% set regionString = "" %}
          {% set nameString = "" %}

          {% for r in restaurants %}
            {% set photos = r.wcm_img.split(' ') %}

            {% if (cuisineString.find(r.Cuisine) == -1): %}
            {% set cuisineString = cuisineString + r.Cuisine + "|" %}
            {% endif %}

            {% if (regionString.find(r.Region) == -1): %}
            {% set regionString = regionString + r.Region + "|" %}
            {% endif %}

            {% if (regionString.find(r.SubRegion) == -1): %}
            {% set regionString = regionString + r.SubRegion + "|" %}
            {% endif %}

            {% if (nameString.find(r.Name) == -1): %}
            {% set nameString = nameString + r.Name + "|" %}
            {% endif %}

            {% if loop.last %}
            <script>
              /* Sending vars to JS (only if we're on the final loop) */
              var cuisineString = "{{ cuisineString }}";
              var regionString = "{{ regionString }}";
              var nameString = "{{ nameString }}";
            </script>
            {% endif %}

          <div class="restaurant active {{ r.Name }} {{ r.Cuisine }} {{ r.Region }} {{ r.SubRegion }} {{ r.New }}" id="{{ r.Slug }}">
          	<a href="{{ url_for('index') }}{{r.Slug}}" target="_blank">
              <div class="border"></div>
              <img src="https://s.hdnux.com/photos/72/15/17/{{ photos[0] }}/7/premium_landscape.jpg">
            </a>
            <div class="name">
              <div class="rname">{{ r.Name }} {{ r.otherName }}</div>
              <div class="save-button">
                Save
                <span class="save-restaurant" id="save{{ r.Slug }}"><i class="fa fa-square-o" aria-hidden="true"></i></span>
              </div>
            </div>
            <div class="info">{{ r.Cuisine }} | {{ r.SubRegion }}</div>
          </div>
          {% endfor %}

        </div>

        <div class="search-noresults hide" id="search-noresults">No restaurants match your search.<br>Try another search term.</div>
        <div class="hide" id="no-saved-restaurants">Use this list to keep track of your favorite restaurants, restaurants you want to visit, or anything you like! Check the box next to any restaurant's name to add it to this list.</div>

      </div><!-- Closing #restaurants -->

      {% include 'components/_footer.html' %}

    </div><!-- Closing #container -->

    <script src="{{ url_for('index') }}static/scripts/landing.js"></script>

  </body>
</html>
