<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>Top 100 2018</title>
    <meta name="ispremium" content="1">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="icon" href="https://www.sfchronicle.com/favicon.ico?v=3">
    <link rel="stylesheet" href="{{url_for('static', filename='styles/style.css')}}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <script src="http://projects.sfchronicle.com/shared/js/jquery.min.js"></script>
    {% include 'components/_hearst.html' %}
    {% include 'components/_landing-analytics.html' %}
    {% include 'components/_landing-social.html' %}
  </head>

  <body class="{% if config.DEV %}debug{% endif %}">
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div id="log-in-instructions">
    	<div class="login">
        <!-- Gigya signin -->
        <div class="treg-is-gigya gigya_menu" >
          <div class="gigya-login">
          <div id="exit">X</div>
            <div class="login-header">Login with your subscription account to save restaurants to "My List" and/or "Favorites."</div>
            <div class="treg-gya-login-widget"></div>
            <div class="subscribe">
              <h6 class="no-sub">Don't have a subscription?</h6>
              <a class="gya-btn" href="https://offers.sfchronicle.com/offers/top100?groupid=31" target="_blank">Subscribe</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% include 'components/_top-nav.html' %}

    <div class="restaurant-map">
      <div class="map-container">
        <div id="map"></div>
      </div>
      <div class="tooltip-map" id="tooltip"></div>

      <div class="map-sidebar">
        <div id="stick-me">
          <div class="map-title">Restaurant List</div><div class="map-button" id="reset-map-button">Reset map</div>
          <div class="map-search-container">
            <div class="map-search">Search by restaurant, city or cuisine:</div>
            <div class="map-input"><i class="fa fa-search" aria-hidden="true"></i><input class="map-input" id="mapsearchbar" type="text" placeholder="Try French or Oakland ... "></div>
          </div>
        </div>
        <div id="no-results">There are no results for your search. Please try again.</div>
        <div class="scrolly-restaurants">
          <div class="num-results">There <span id="num-results-search"></span> for your search.</div>
        {% for r in restaurants %}{% set photos = r.wcm_img.split(' ') %}
          <div class="map-restaurant {{ r.Name }} {{ r.Cuisine.replace(' ','') }} {{ r.Region.replace(' ','').replace('/',' ').replace(',',' ') }} {{ r.SubRegion.replace(' ','').replace('/',' ').replace(',',' ') }} {{ r.New }} {{ r.Brunch }} {{ r.PriceCategory }} {{r.Noise}} active" id="{{ r.slug }}">
            <div class="img-link-map">
              <a href="{{ url_for('index') }}{{r.slug}}" target="_blank">
                <img src="https://s.hdnux.com/photos/72/15/17/{{ photos[0] }}/7/premium_landscape.jpg">
              </a>
            </div>
            <div class="name">
              <div class="rname">{{ r.Name }} {{ r.otherName }}</div>
              <div class="info">{{ r.Cuisine }} | {{ r.SubRegion }}</div>
              <div class="map-locator" id="map-locator-{{loop.index-1}}"><i class="fa fa-hand-o-right" aria-hidden="true"></i>Find me on the map</div>
              <div class="map-review"><a href="../{{r.slug}}" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i>Read the review</a></div>
              <div class="map-directions"><a href="https://www.google.com/maps/place/{{r.GoogleAddress}}"  target="_blank"><i class="fa fa-map-marker" aria-hidden="true"></i>Get directions</a></div>
          </div>
        </div>
        {% endfor %}
        </div>

        <div class="credits">
          Map developed by <a href="mailto:eoneill@sfchronicle.com">Emma O'Neill</a>
        </div>
      </div>
    </div>

    <script>
      var restaurants = {{ restaurants|tojson }};
    </script>
    <script src="/static/scripts/map.js"></script>

  </body>
</html>
