<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>Map of Top 100 Bay Area Restaurants 2018</title>
    <meta name="ispremium" content="1">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta id="parentURL" data-url="{{ url_for('index') }}">
    <link rel="icon" href="https://www.sfchronicle.com/favicon.ico?v=3">
    <link rel="stylesheet" href="{{url_for('static', filename='styles/style.css')}}?2">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href="//fonts.googleapis.com/css?family=Cardo|Fjalla+One|Pathway+Gothic+One" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
    <script src="//projects.sfchronicle.com/shared/js/jquery.min.js"></script>
    {% include 'components/_hearst.html' %}
    <!-- Loading syncronex paywall -->
    {% include 'components/_syncronex.html' %}
    
    {% include 'components/_map-meta.html' %}
  </head>

  <body class="{% if config.DEV %}debug{% endif %}">
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    

    {% include 'components/_login.html' %}
    {% include 'components/_top-nav.html' %}

    <div class="restaurant-map">
      <div class="map-container">
        <div id="map"></div>
      </div>
      <div class="tooltip-map" id="tooltip"></div>

      <div class="map-sidebar">
        <div id="stick-me">
          <div class="map-button" id="reset-map-button">Reset map</div>
          <div class="map-search-container">
            <div class="search-icon"><i class="fa fa-search" aria-hidden="true"></i></div><input class="map-input" id="mapsearchbar" type="text" placeholder="Search by restaurant, city or cuisine... ">
          </div>
        </div>

        <div class="scrolly-restaurants">
          <div id="no-results">There are no results for your search. Please try again.</div>
          <div class="num-results">There <span id="num-results-search"></span> for your search.</div>
        {% for r in restaurants %}{% set photos = r.wcm_img.split(' ') %}
          <div class="map-restaurant {{ r.Slug }} {{ r.Cuisine.replace(' ','') }} {{ r.Region.replace(' ','').replace('/',' ').replace(',',' ') }} {{ r.SubRegion.replace(' ','').replace('/',' ').replace(',',' ') }} {{ r.New }} {{ r.Brunch }} {{ r.PriceCategory }} {{r.Noise}} active" id="{{ r.Slug }}">
            <div class="img-link-map" data-slug="{{r.Slug}}">
              <img src="https://s.hdnux.com/photos/72/15/17/{{ photos[0] }}/7/premium_landscape.jpg">
            </div>
            <div class="name">
              <div class="rname">{{ r.Name }} {{ r.otherName }}</div>
              <div class="info">{{ r.Cuisine }}</div>
              <div class="map-locator" id="map-locator-{{loop.index-1}}" data-slug="{{r.Slug}}"><span class="locate-text">Locate on map</span></div>
              <div class="map-review"><a href="{{ url_for('index') }}{{r.Slug}}"><span class="map-text-span">View restaurant</span></a></div>
              <!-- <div class="map-directions"><a href="https://www.google.com/maps/place/{{r.GoogleAddress}}"  target="_blank"><i class="fa fa-map-marker" aria-hidden="true"></i><span class="map-text-span">Directions</a></span></div> -->
          </div>
        </div>
        {% endfor %}
        </div>

      </div>
    </div>

    <script>
      var restaurants = {{ restaurants|tojson }};
    </script>
    <script src="{{ url_for('index') }}static/scripts/map.js?2"></script>

  </body>
</html>
