{% extends 'base.html' %}

{% block head %}
{% include 'components/_social.html' %}
{% endblock %}

{% block content %}


  {% set photos = restaurant.wcm_img.split(' ') %}

  {% include 'components/_top-nav.html' %}


  <div class="restaurant">

    <h1>{{restaurant.Name}} {{restaurant.otherName|safe}}</h1>

    <div class="carousel swiper-container">
      <div class="swiper-wrapper">
        {% for f in photos %}
        <div class="swiper-slide"><img data-noload-src="https://s.hdnux.com/photos/60/22/02/{{f}}/7/" alt="{{restaurant.Name}}"></div>
        {% endfor %}        
      </div>
      <!-- Add Arrows -->
      <div class="swiper-button-next"><i class="fa fa-chevron-right" aria-hidden="true"></i></div>
      <div class="swiper-button-prev"><i class="fa fa-chevron-left" aria-hidden="true"></i></div>
      <!-- Add Pagination Buttons -->
      <div class="swiper-pagination"></div>
      <div class="photo-byline">Photography by {{restaurant.photographer}}</div>
    </div>

    <p id="mobile-h1">{{restaurant.Name}} {{restaurant.otherName|safe}}</p>

    <div class="article">
      {% if (restaurant.Returning == "Classic") %}
      <label class="classic-label">Classic</label>
      <a href="{{url_for('index')}}guides/classics"><img class="special-icon"></a>
      {% endif %}
      {% if (restaurant.Returning == "No") %}
      <a href="{{url_for('index')}}guides/new"><img class="special-icon"></a>
      {% endif %}
      <a href="{{ url_for('index') }}map/#{{restaurant.Slug}}">
        <div class="map-link region-button">
          <i class="fa fa-map-marker" aria-hidden="true"></i> View on the map
        </div>
      </a>
      <a>
        <div class="save-button region-button map-link">
          <span class="save-restaurant" id="save{{restaurant.Slug}}"><i class="fa fa-square-o" aria-hidden="true"></i></span> Save to My List
        </div>
       </a>
      {% for r in article %}
        <p>{{ r.Text }}</p>
      {% endfor %}

      {% if (restaurant.Note) %}
        <div class="note">
          <p>{{restaurant.Note|safe}}</p>
        </div>
      {% endif %}
    </div>

    <div class="wrap">
      <div class="infobox">
        <div><span>Cuisine</span><br>{{restaurant.Cuisine}}</div>
        <div><span>Neighborhood</span><br>{{restaurant.SubRegion}}</div>
        <div><span>Phone</span><br><a href="tel:{{restaurant.Phone.replace('(','').replace(') ','-')}}" class="phone-link">{{restaurant.Phone}}</a></div>
        <div><span>Noise</span><br>
          {% if restaurant.Noise == 'ONE BELL' %}
              <i class="fa fa-bell"></i>
          {% elif restaurant.Noise == 'TWO BELLS' %}
               <i class="fa fa-bell"></i>
          {% elif restaurant.Noise == 'THREE BELLS' %}
               <i class="fa fa-bell"></i>
               <i class="fa fa-bell"></i>
               <i class="fa fa-bell"></i>
          {% elif restaurant.Noise == 'FOUR BELLS' %}
               <i class="fa fa-bell"></i>
               <i class="fa fa-bell"></i>
               <i class="fa fa-bell"></i>
               <i class="fa fa-bell"></i>
          {% elif restaurant.Noise == 'BOMB' %}
               <i class="fa fa-bomb"></i>
          {% endif %}
        </div>
        <div><span>Address</span><br><a href="https://www.google.com/maps/place/{{restaurant.GoogleAddress}}"  target="_blank" class="google-link">{{restaurant.GoogleAddress}}</a></div>
        {% if restaurant.Website %}
        <div><span>Website</span><br><a href="{{restaurant.Website}}" target="_blank" class="restaurant-link">{{restaurant.Website}}</a></div>
        {% endif %}
        <div><span>Prices</span><br>{{restaurant.Prices}}</div>
        <div><span>Seats</span><br>{{restaurant.Seats}}</div>
        <div><span>Specialties</span><br>{{restaurant.Specialties}}</div>
        <div><span>Parking</span><br>{{restaurant.Parking}}</div>

        {% if restaurant.otherlocation == 'Yes' %}
          <div><span>Other location</span><br>{{restaurant.otherlocationname}}
            <br><a href="https://www.google.com/maps/place/{{restaurant.OtherLocationGoogleAddress}}"  target="_blank" class="google-link"><i class="fa fa-map-marker" aria-hidden="true"></i>{{restaurant.OtherLocationGoogleAddress}}</a>
            <br><a href="tel:{{restaurant.OtherLocationPhone.replace('(','').replace(') ','-')}}" class="phone-link"><i class="fa fa-phone" aria-hidden="true"></i>{{restaurant.OtherLocationPhone}}</a>
          </div>
        {% endif %}
        {% if restaurant.otherotherlocation == 'Yes' %}
          <div><span>Other location</span><br>{{restaurant.otherotherlocationname}}
            <br><a href="https://www.google.com/maps/place/{{restaurant.OtherOtherLocationGoogleAddress}}"  target="_blank" class="google-link"><i class="fa fa-map-marker" aria-hidden="true"></i>{{restaurant.OtherOtherLocationGoogleAddress}}</a>
            <br><a href="tel:{{restaurant.OtherOtherLocationPhone.replace('(','').replace(') ','-')}}" class="phone-link"><i class="fa fa-phone" aria-hidden="true"></i>{{restaurant.OtherOtherLocationPhone}}</a>
          </div>
        {% endif %}

      </div>
    </div>

    <div class="promotion">
      <div class="promo-item buy-book">
        <a href="https://sfchronicle.myshopify.com/products/san-francisco-chronicle-top-100-restaurants-2018?variant=12099148120132" target="_blank"><img src="//projects.sfchronicle.com/shared/assets/top100cover.jpg" /></a>
        <p><a href="https://sfchronicle.myshopify.com/products/san-francisco-chronicle-top-100-restaurants-2018?variant=12099148120132" target="_blank">Buy the hard copy</a></p>
        <p class="light">Michael Bauer's Top 100 Restaurants</p>
      </div>
      <div class="promo-item newsletter-signup">
        <p><a href="http://link.sfchronicle.com/join/signup" target="_blank">Sign up for the Inside Scoop newsletter</a></p>
        <p class="light">Insider knowledge for Bay Area foodies, curated by the San Francisco Chronicle</p>
      </div>
    </div>

    {% include 'components/_related.html' %}
    {% include 'components/_popular.html' %}

  </div>

  {% include 'components/_footer.html' %}

{% endblock %}
