.title{
  font-family: @fancy-serif;
  font-size: 60px;
  padding: 0 10px;
  text-align: center;
  margin: 1.5em auto 0;
  max-width: 835px;   
  text-transform: capitalize;

  @media @w666 {
    margin: 10px 0 0 0;
  }
}

.deck{
  max-width: 700px;
  text-align: center;
  margin: 0em auto 2em;
  font-size: 17px;
  padding: 0 10px;
}

.dropdown-container {
  font-size: 16px;
  padding-top: 10px;
  .select-text {
    font-size: 14px;
    display: inline-block;
    padding-right: 5px;
    font-family: @title;
    @media @tablet {
      padding-bottom: 10px;
    }
  }
  select {
    display: inline-block;
    font-family: @title;
    font-size: 14px;
    background: white;//lighten(@light-gray,5%);
    padding: 5px 10px;
    border-radius: 5px;
    min-width: 160px;
  }
  display: none;
  @media @mobile {
    &.active {
      display: block;
      width: 90%;
      margin: auto;
    }
  }
}


.regions-container, .cuisines-container {
  max-width: 1400px;
  margin: auto;
  text-align: center;
  @media @mobile {
    display: none;
  }
}

.region-button, .subregion-button, .cuisine-button {
  padding: 5px 20px;
  display: inline-block;
  color: @main;
  background: lighten(@light-gray,26%);
  font-family: @logo2;
  font-weight: 800;
  &:hover {
    background: @light-gray;
    cursor: pointer;
    color: black;
  }
  &.active {
    background: @light-gray;
    cursor: pointer;
    color: black;
  }
}

.region-button {
  @media @mobile {
    margin-top: 5px;
  }
}

.cuisine-button, .subregion-button {
  margin-top: 10px;
}

.subregions-container {
  max-width: 1400px;
  margin: auto;
  margin-top: 10px;
  text-align: center;
  display: none;
  &.active {
    display: block;
    @media @mobile {
      display: none;
    }
  }
}

@media @w666 {
  #social-links {
    display: none;
  }
}
