
.regions-container, .cuisines-container {
  max-width: 1400px;
  margin: auto;
  text-align: center;
}

.region-button, .subregion-button, .cuisine-button {
  padding: 5px 20px;
  display: inline-block;
  color: @main;
  background: lighten(@light-gray,26%);
  font-family: @logo2;
  font-weight: 800;
  &:hover {
    background: @light-gray;
    cursor: pointer;
    color: black;
  }
  &.active {
    background: @light-gray;
    cursor: pointer;
    color: black;
  }
}

.cuisine-button {
  margin-top: 10px;
}

.subregions-container {
  max-width: 1400px;
  margin: auto;
  margin-top: 10px;
  text-align: center;
  display: none;
  &.active {
    display: block;
  }
}
