.title{
  font-family: @fancy-serif;
  font-size: 60px;
  padding: 0 10px;
  text-align: center;
  margin: 1.5em auto 0;
  max-width: 835px;   
  text-transform: capitalize;

  @media @w666 {
    margin: 10px 0 0 0;
  }

  @media @mobile{
    font-size:45px;
  }
}

.deck{
  max-width: 700px;
  text-align: center;
  margin: 0em auto 2em;
  font-size: 17px;
  padding: 0 10px;
}

.dropdown-container {
  font-size: 16px;
  padding-top: 10px;
  .select-text {
    font-size: 14px;
    display: inline-block;
    padding-right: 5px;
    font-family: @title;
    @media @tablet {
      padding-bottom: 10px;
    }
  }
  select {
    display: inline-block;
    font-family: @title;
    font-size: 14px;
    background: white;//lighten(@light-gray,5%);
    padding: 5px 10px;
    border-radius: 5px;
    min-width: 160px;
  }
  display: none;
  @media @mobile {
    &.active {
      display: block;
      width: 90%;
      margin: auto;
    }
  }
}


.regions-container, .cuisines-container {
  max-width: 1400px;
  margin: auto;
  text-align: center;
  @media @mobile {
    display: none;
  }
}

.region-button,
.subregion-button,
.cuisine-button {
  padding: 5px 20px;
  display: inline-block;
  color: #333;
  font-family: @logo2;
  font-size:19px; 
  cursor: pointer;
}

.region-button{
  cursor:pointer;
  &.active{
    background:#f4f4f4;
  }
}

.subregion-button{
  border-bottom: 3px solid #f4f4f4;
  padding: 4px 8px;
  text-decoration: underline;
  font-size:18px;

  &:hover {
    background: #ffffff;
    cursor: pointer;
    color: black;
    border-bottom: 3px solid @main;
    text-decoration: none;
  }

   &.active {
    background: #fff;
    color: black;
    border-bottom: 3px solid @main;
    text-decoration: none;
  }
}

.region-button {
  border:2px solid #f4f4f4;

  &:hover{
    background:#d4d4d4;
  }
  @media @mobile {
    margin-top: 5px;
  }
}

.cuisine-button, .subregion-button {
  margin-top: 10px;
}

.subregions-container {
  max-width: 950px;
  margin: auto;
  text-align: center;
  display: none;
  background: #f4f4f4;
  padding:5px 10px 10px;

  &.active {
    display: block;
    @media @mobile {
      display: none;
    }
  }
}

#southbay-subregions{
  padding:0;
}

.cuisines-container{
  max-width:960px;
}
.cuisine-button{
  border: 2px solid #f4f4f4;

  &.active{
    background: #f4f4f4;
    border-bottom: 2px solid @main;
  }
}

@media @w666 {
  #social-links {
    display: none;
  }
}
