.hidden{
	display:none;
}
.gigya_menu .gya-title.treg-logged-in span {
  background: url(http://treg.hearstnp.com/assets/gya_sites/sfchronicle_com/images/user.svg) 0 0 no-repeat;
}

.gigya_menu .gya-title {
  line-height: 30px;
}

.login-gya-btn{
	background-color: #7a709a;
	border-radius: 3px;
	margin: 0;
	padding: 7px 9px;
	border: 1px solid #a09ab6;
	cursor: pointer;
	text-transform: uppercase;
	color: white;
	font-family: antennaregular;
	font-size: 11px;

	@media @mobile{
		font-size:9px;
	}
}


.gigya_menu .gya-content {
	@media (min-width: 1280px){
    bottom: 0;
    left: 0;
    position:fixed;
    top: inherit;
	}
}