.map-container {
  @media @mobile {
    position: fixed;
    top: 70px;
    left: 0;
    right: 0;
    z-index: 999;
  }
}

.leaflet-popup-content {
  width: 200px;
  z-index: 1000;
}

.leaflet-control-attribution {
  @media @mobile {
    font-size: 8px !important;
  }
}

.rest-name-popup {
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 5px;
  font-family: @sans-serif;
}

.click-popup {
  padding-top: 5px;
  font-size: 14px;
  font-family: @sans-serif;
  .fa {
    padding-right: 5px;
  }
}

.rest-img-link-popup {
  img {
    max-width: 200px;
    @media @mobile {
      max-width: 130px;
    }
  }
}

.leaflet-interactive {
  display: none !important;
  &.active {
    display: block !important;
  }
}

.leaflet-marker-icon {
  pointer-events: all !important;
}

#map {
  pointer-events: all;
  position: fixed;
  top: 0;
  height: 100%;
  width: 60%;
  z-index: 0;
  cursor: auto;
  @media @mobile {
    width: 100%;
    height: 300px;
    top: 0;
    z-index: 999;
    position: relative;
  }
  svg {
    pointer-events: all;
  }
}

.restaurant-map {
  .display-flex;
  .flex-wrap(wrap);
  width: 100%;
  .map-container {
    .flex(0 0 60%);
    @media @mobile {
      .flex(0 0 100%);
    }
  }
  .map-sidebar {
    .flex(0 0 40%);
    height: auto;
    @media @mobile {
      .flex(0 0 100%);
      z-index: 0;
    }
  }
}

.map-credit {
  margin-top: 50px;
  font-size: 14px;
  margin-bottom: 30px;
}

.map-sidebar {
  z-index: 100;
  background: white;
  padding: 10px;
  padding-top: 200px;
  @media @mobile {
    z-index: 0;
    margin-top: 300px;
    padding-top: 140px
  }
}

.scrolly-restaurants {
  .map-restaurant {
    display: none;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid @light-gray;
    // .display-flex;
    // .flex-wrap(wrap);
    // .align-items(center);
    .img-link-map {
      .flex(0 0 50%);
      padding-right: 10px;
      // align-items: center;
      a {
        display: inline-block;
        height: 100%;
        width: 100%;
        vertical-align: middle;
      }
    }
    .name {
      .flex(0 0 50%);
      .rname {
        line-height: 1.2;
      }
    }
    &.active {
      .display-flex;
      .flex-wrap(wrap);
    }
    img {
      width: 100%;
      line-height: 1;
      height: 100%;
      vertical-align: middle;
    }
  }
}

.map-locator, .map-review, .map-directions {
  // color: @main;
  text-decoration: underline;
  cursor: pointer;
  font-size: 14px;
  .fa {
    padding-right: 10px;
  }
}
.map-locator {
  color: @main;
  text-decoration: underline;
  outline: 0 !important;
  &:hover {
    color: darken(@main,10%);
  }
}

#no-results {
  // margin-top: 250px;
  display: none;
  font-family: @main;
  font-size: 20px;
  font-style: italic;
  &:empty {
    display: none;
  }
}

#stick-me {
  padding-top: 50px;
  width: 40%;
  padding: 60px 20px 0 20px;
  position: fixed;
  top: 0;
  right: 0;
  background: white;
  z-index: 110;
  -webkit-box-shadow: 0 0 6px 0 #696969;
  -moz-box-shadow: 0 0 6px 0 #696969;
  box-shadow: 0 0 6px 0 #696969;
  @media @mobile {
    width: 100%;
    top: 300px;
    padding-top: 20px;
  }
  .map-title, .map-button {
    display: inline-block;
  }
  .map-title {
    font-weight: 600;
    padding-bottom: 15px;
    padding-top: 5px;
  }
  .map-button {
    border: 2px solid @main;
    font-size: 16px;
    color: @main;
    font-weight: 600;
    border-radius: 5px;
    width: 120px;
    text-align: center;
    cursor: pointer;
    margin-left: 20px;
    &:hover {
      background: @main;
      color: white;
    }
  }
  .map-search {
    font-size: 16px;
    padding-bottom: 5px;
    @media @mobile {
      display: none;
    }
  }
  .map-search-container {
    line-height: 1.2;
    .fa {
      color: @dark-gray;
      margin-right: 5px;
    }
    input {
      border-radius: 5px;
      font-family: @main;
      padding: 5px;
      width: 90%;
      font-size: 14px;
      margin-bottom: 20px;
      @media @tablet {
        width: 100%;
      }
      @media @mobile {
        width: 90%;
        font-size: 16px;
      }
    }
  }

}

.num-results {
  font-family: @main;
  font-size: 14px;
  font-style: italic;
  display: none;
  padding-bottom: 30px;
  &.active {
    display: block;
  }
}
