.map-container {
  position: relative;
}

#map {
  pointer-events: all;
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  margin: auto;
  z-index: 0;
  cursor: auto;
  @media @tablet {
    width: 100%;
  }
  @media @mobile {
    top: 0;
    z-index: -1;
  }
  svg {
    pointer-events: all;
  }
}
