
.top100, .top100-top, .year{
  font-family: @logo2;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: @main;
  font-size: 21px;
}

#top100-nav-link{
  opacity: 0;
  -webkit-transition: opacity 500ms linear;
  -ms-transition: opacity 500ms linear;
  transition: opacity 500ms linear;
  line-height:0;
  &.active {
    opacity: 1;
  }
}

.social-link {
  display: inline-block;
  float: right;
  font-size: 18px;
  padding-top: 10px;
  @media @mobile {
    padding-top: 5px;
  }
  a {
    padding-right: 10px;
  }
  &.mylist {
    text-transform: uppercase;
    font-family: @logo2;
    font-size: 20px;
    font-weight: 800;
    color: @main;
    margin-right: 15px;
    padding-top: 7px;
    cursor: pointer;

    &:hover {
      color: @main-hover;
    }
  }
}

.rest{
  font-family: @logo2;
  text-transform: uppercase;
  color: black;
  font-weight:100;
  letter-spacing: 1px;
  font-size: 21px;

  &.top{
  	font-size:20px;

  	@media @mobile{
  		font-size:19px;
  	}
  }
}

.fixed-second {
  position: fixed;
  top: 46px;
  left: 0;
  right: 0;
  height: 52px;
  box-shadow: 0 1px 1px 0px #ccc;
  z-index:2019;

  @media @mobile {
    top: 70px;
  }
}

#search-stick-ph {
  height: 52px;
  @media @mobile {
    display: none;
  }
}



#top-nav{
  box-shadow: 0 1px 1px 1px #ccc;
  position: fixed;
  height:46px;
  top:0;
  width:100%;
  z-index:2018;
  background:#fff;
  .display-flex;
  .align-items(center);

  @media @width1100 {
  	height: 40px;

  	.top100.top {
  		font-size: 15px;
  	}
  }

	.top100-top {
    font-weight: 800;
  }

  div.link {
  	.rest {
  		@media @tablet {
	  		display: none;
	  	}
  	}

  	.year {
      font-weight: 800;
  		@media @tablet {
	  		display: none;
	  	}
  	}
  }

  .logo{

    .img{
      -webkit-transition: opacity 500ms linear;
      -ms-transition: opacity 500ms linear;
      transition: opacity 500ms linear;
    }
  }
}

#social-links{
  position:fixed;
  top:0;
  right:0;
}

.secondary-link-container, .secondary-link-container-mobile {

  opacity: 0;
  -webkit-transition: opacity 500ms linear;
  -ms-transition: opacity 500ms linear;
  transition: opacity 500ms linear;
  margin-left: 10px;

  &.active {
    opacity: 1;
  }

  @media @mobile {
    -webkit-transition: opacity 10ms linear;
    -ms-transition: opacity 10ms linear;
    transition: opacity 10ms linear;
  }
}

.secondary-link-container-mobile {
  display: none;
  position: fixed;
  top: 40px;
  left: 0;
  right: 0;
  margin-left: 0;
  z-index: 999;
  height: 37px;
  background: white;
  -webkit-box-shadow: 0 0 6px 0 #ccc;
  -moz-box-shadow: 0 0 6px 0 #ccc;
  box-shadow: 0 0 6px 0 #ccc;

  .secondary-link{
    float:left;   
    padding: 1px 3px;
  }

  @media @width1100 {
    display: block;
  }
}

.secondary-link-container {
  .display-flex;
  height:100%;

  @media @width1100 {
    display: none;
  }
}

.secondary-link {
  color: white;
  padding:5px;

  @media @mobile {
    margin: 0 0 2px 0;
    height: 37px;
  }

  .fa {
    padding-right: 1px;
    @media @mobile {
      display: none;
    }
  }

  a {
    padding: 0 10px;
    padding-top: 7px;
    vertical-align: middle;
    color: black;
    font-family: @logo2;
    font-size: 17px;
    height: 100%;
    color: @dark-gray;
    @media @mobile {
      font-size: 16px;
      padding: 0 6px;
      padding-top: 7px;
    }
  }
  &.active, &.map, &.cuisines, &.new, &.classics, &.regions, &.brunch, &.homepage {
    background: @main;
    a {
      color: white;
    }
  }
}

.logo{
	margin: 0 10px;
  line-height:0;

  img{
  	height: 20px;
  }
}

// jQuery UI styles
.ui-widget.ui-widget-content{
    z-index:2019;
}

.ui-menu .ui-menu-item{
    width:100%;
}
