hr{
	width:80%
}

.home-link {
	display:inline-block;
	width:100%;
	height:100%;
	.rest {
		&.top {
			color: black;
			&:hover {
				color: @dark-gray;
			}

		}
	}
}

#nouser {
	text-align: center;
	color: red;
	padding-top: 30px;
	font-size: 30px;
	&.hidden {
		display: none;
	}
}

.name{
	font-size:1em;
	font-family:@sans-serif;
	.display-flex;
	.justify-content(space-between);
}

.info{
	font-family:@title;
	font-size:14px;
	color:#333;
}

.save-restaurant {
	padding-left: 15px;
	cursor: pointer;
}

.search-container {
	max-width: 900px;
	margin: auto;
	margin-top: 30px;
	padding:0 10px;
	text-align: center;

	input {
		width: 90%;
		font-family: @sans-serif-light;
		font-size: 16px;
		padding: 2px 5px;
		border-radius: 5px;
		border-radius: 5px;
    border: 1px solid @dark-gray;
	}
	.fa {
		font-size: 20px;
		margin-right: 5px;
	}
}

.filters-container {
	max-width: 900px;
	margin: auto;
	padding: 15px 10px;
	.display-flex;
	.flex-wrap(wrap);
	.justify-content(center);
	.dropdown-container, .button {
		.flex(1 1 47%);
		@media @mobile {
			.flex(0 1 47%);
		}
		margin: 3px;
	  font-size: 16px;
		text-align: center;
		display: inline-block;
		select {
			width: 100%;
			height: 100%;
			font-size: 16px;
			font-family: "FontAwesome", @sans-serif-light;
			background: @lightest-gray;
			border: 1px solid @med-gray;
			border-radius: 3px;
		}
	}
	.button {
		background: @lightest-gray;
		border: 1px solid @med-gray;
		border-radius: 3px;
		cursor: pointer;
		&.selected {
			background: @dark-gray;
			color: white;
		}
		.fa {
			padding-right: 5px;
		}
		.fa-glass {
			font-size: 14px;
		}
		@media @mobile {
			text-align: left;
			padding-left: 5px;
		}
	}
}

#search-noresults {
	padding-top: 50px;
	text-align: center;
	font-style: italic;
	&.hide {
		display: none;
	}
}

.link-button {
	display: inline-block;
	width: 100%;
	height: 100%;
	color: #000 !important;
	cursor: pointer !important;
	&:hover {
		color: white !important;
	}
	i {
		&:hover {
			color: white !important;
		}
	}
}

#social{
	text-align:center;
  line-height: 1;

	.link{
		padding:10px;
		font-size:22px;
	}
}

#bottom-nav{
	position:fixed;
	width:100%;
	display:none;
	background:white;
	bottom:0;
	-webkit-box-shadow: 0 0 6px 0 #696969;
  -moz-box-shadow: 0 0 6px 0 #696969;
  box-shadow: 0 0 6px 0 #696969;



  .link{
  	vertical-align: 1px;
  	padding:5px 10px 0 0;
    margin-left: 6px;
  }

  .logo-link{
  	margin-left:10px;
  	line-height:0;

  	img{
  		height:15px;
  	}
  }
}

.login{
  text-align: center;
}

.login-btn{
  font-size: 11px;
  font-style: normal;
  font-family: @sans-serif;
  border-radius: 3px;
  padding: 7px 9px;
  border: 1px solid #e2e2e2;
  cursor: pointer;
  text-transform: uppercase;
  background-color: #9189ab;
  border-color: #7a709a;
  color: #fff;
  height: 30px;
}

.btn-link{

	background-color: @main;
  margin: 0;
  padding: 12px 9px;
  border: 1px solid #a09ab6;
  cursor: pointer;
  text-transform: uppercase;
  color: white;
  font-family: @sans-serif-light;
  float:right;
  font-size:10px;

  &:hover{
  	color: @main;
  	background-color:#fff;
  }

  &.related{
  	float:none;
  	margin-bottom:10px;
  }
}


#top-nav{
  box-shadow: 0 1px 5px 1px #ccc;
  position: relative;
  height:46px;

  .logo-link{
  	position: absolute;
    top: 0;
    left: 0;
    line-height:1.8;

    img{
    	width:180px;
    	height:auto;
    }

    &.mobile{
    	display:none;

    	img{
    		width:19px;

    		@media @mobile{
    			width:15px;
    		}
    	}

    	@media @width650{
    		display:block;
    	}

    	@media @mobile{
    		padding-top:6px;
    	}
    }

    &.desktop{
    	@media @width650{
    		display:none;
    	}
    }
  }

  .link{
    text-align: center;
    margin: 0 auto;
    display:block;

    @media @width650{
	    margin: 0 0 0 40px;
    	display: inline-block;
    }

    @media @mobile{
    	padding: 8px 0 2px;
    	margin: 0 0 0 35px;
    }
  }

  .search{
    position: absolute;
    right: 65px;
    top: 0;
    height: 100%;
  }
}

.photo-byline{
  margin-top: 10px;
  font-size: 12px;
  font-family: @title;
  font-weight: 100;

  @media @900{
  	padding-left:10px;
  }
}

.phone-link {
	.fa-phone {
		padding-right: 5px;
	}
}

.google-link {
	.fa-map-marker {
		padding-right: 5px;
	}
}

.restaurant-link {
	.fa-external-link {
		padding-right: 5px;
	}
}

.swiper-pagination-bullet {
	height: 12px !important;
	width: 12px !important;
}
