<div class="intro-overlay hide">

	<div id="about-popup">	

		<div class="closer" title="Close introduction">X</div>

		<div id="intro">

			<div class="title">Welcome to the Top 100</div>
			{% set introtext = intro.longintro%}
		  {% for i in introtext %}
		    <p>{{i.value|safe}}</p>
		  {% endfor %}

		</div>

		<div class="about">
			<div class="intro-hed">Methodology</div>

			<div class="text">Guide to the noise rating:
			  <ul>
			    <li><i class="fa fa-bell" aria-hidden="true"></i>  = Pleasantly quiet (less than 65 decibels)</li>
			    <li><i class="fa fa-bell" aria-hidden="true"></i><i class="fa fa-bell" aria-hidden="true"></i>  = Can talk easily (65-70)</li>
			    <li><i class="fa fa-bell" aria-hidden="true"></i><i class="fa fa-bell" aria-hidden="true"></i><i class="fa fa-bell" aria-hidden="true"></i>  = Talking normally gets difficult (70-75)</li>
			    <li><i class="fa fa-bell" aria-hidden="true"></i><i class="fa fa-bell" aria-hidden="true"></i><i class="fa fa-bell" aria-hidden="true"></i><i class="fa fa-bell" aria-hidden="true"></i>  = Can talk only in raised voices (75-80)</li>
			    <li><i class="fa fa-bomb" aria-hidden="true"></i>  = Too noisy for normal conversation (80+)</li>
			  </ul>
			</div>

			<div class="text">Guide to the price rating:
			  <ul>
			    <li>$ = Inexpensive (main course <$15)</li>
			    <li>$$ = Moderate (main course $16-20)</li>
			    <li>$$$ = Expensive (main course $26-35)</li>
			    <li>$$$$ = Very expensive (main course $35+)</li>
			    <li>Very pricey = (prix fixe with full cost $200+)</li>
			  </ul>
			  Prix fixe and small plate menus are analyzed for equivalency.
			</div>

			<div class="intro-hed">Credits</div>

			<div class="entry">Editor at large / Restaurant critic
			  <div class="entry-name"><a href="mailto:mbauer@sfchronicle.com">Michael Bauer</a></div>
			</div>

			<div class="entry">Research
			  <div class="entry-name">Lynne Char Bennett</div>
			</div>

			<div class="entry">Photo editor
			  <div class="entry-name"><a href="mailto:ryip@sfchronicle.com">Russell Yip</a></div>
			</div>

			<div class="entry">Developers
			  <div class="entry-name"><a href="mailto:lvilla@sfchronicle.com">Lucio Villa</a></div>
			  <div class="entry-name"><a href="mailto:evan.wagstaff@sfchronicle.com">Evan Wagstaff</a></div>
			  <div class="entry-name"><a href="mailto:eoneill@sfchronicle.com">Emma O'Neill</a></div>
			</div>

			<div class="entry">Designer
			  <div class="entry-name"><a href="mailto:lvilla@sfchronicle.com">Lucio Villa</a></div>
			</div>

			<div class="entry">Editors
			  <div class="entry-name"><a href="mailto:kmorgan@sfchronicle.com">Kitty Morgan</a></div>
			</div>

			<div class="entry">Copy editor
			  <div class="entry-name"><a href="mailto:abehr@sfchronicle.com">Andrea Behr</a></div>
			</div>

			<div class="entry info">Have feedback about this project? E-mail The Chronicle's Food team at <a href="mailto:food@sfchronicle.com?subject=Top 100 Feedback">food@sfchronicle.com</a>.</div>

			<div class="entry disclosure"><b>Cover image:</b> Stephen Lam, Special to The Chronicle</div>
			<div class="entry disclosure"><b>Full disclosure:</b> My partner is involved with the IfOnly website, which features chefs and owners from a number of Bay Area restaurants. Those included in the Top 100 are A16, Bar Agricole, Bottega, Camino, Chez Panisse, Coqueta Frances, Gary Danko, Hawker Fare, La Ciccia, Marlowe, Mourad, Park Tavern, Progress, Octavia, Tosca, SPQR and Wayfare Tavern.
			</div>

		</div>

	</div>
</div>