
    <!-- BEGIN TWITTER SUMMARY CARD -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Top 100 Bay Area Restaurants 2018">
    <meta name="twitter:site" content="@sfchronicle">
    <meta name="twitter:url" content="https://projects.sfchronicle.com/{{config.PROJECT_YEAR}}/{{config.PRODUCTION_PATH}}">
    <meta name="twitter:description" content="Explore The Chronicle's definitive Bay Area restaurant guide from critic Michael Bauer.">

    <!-- Social sharing meta -->
    <meta name="description" content="Explore the best restaurants in the Bay Area, from San Francisco to Oakland to Wine Country and beyond.">
    <meta property="fb:app_id" content="537896802938133"/>
    <meta property="og:type" content="article">
    <meta property="og:title" content="Top 100 Bay Area Restaurants 2018">
    <meta property="og:site_name" content="San Francisco Chronicle">
    <meta property="og:url" content="https://projects.sfchronicle.com/{{config.PROJECT_YEAR}}/{{config.PRODUCTION_PATH}}">
    <meta property="og:image" content="https://projects.sfchronicle.com/{{config.PROJECT_YEAR}}/{{config.PRODUCTION_PATH}}/static/images/social.jpg">
    <meta property="og:description" content="Explore The Chronicle's definitive Bay Area restaurant guide from critic Michael Bauer.">