
    <!-- BEGIN TWITTER SUMMARY CARD -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="">
    <meta name="twitter:site" content="@sfchronicle">
    <meta name="twitter:url" content="http://projects.sfchronicle.com/{{config.PROJECT_YEAR}}/{{config.PRODUCTION_PATH}}">

    <!-- Social sharing meta -->
    <meta name="description" content="">
    <meta property="fb:app_id" content="537896802938133"/>
    <meta property="og:type" content="article">
    <meta property="og:title" content="">
    <meta property="og:site_name" content="San Francisco Chronicle">
    <meta property="og:url" content="https://projects.sfchronicle.com/{{config.PROJECT_YEAR}}/{{config.PRODUCTION_PATH}}">
    <meta property="og:image" content="">
    <meta property="og:description" content="">