<div id="log-in-instructions">
	<div class="login">
    <!-- Gigya signin -->
    <div class="treg-is-gigya gigya_menu" >
      <div class="gigya-login">
      <div id="exit">X</div>
        <div class="login-header">Login with your subscription account to save restaurants to "My List."</div>
        <div class="treg-gya-login-widget"></div>
        <div class="subscribe">
          <h6 class="no-sub">Don't have a subscription?</h6>
          <a class="gya-btn" href="https://offers.sfchronicle.com/offers/top100?groupdid=31&origin=sfc.proj.top100" target="_blank">Subscribe</a>
        </div>
      </div>
    </div>
  </div>
</div>