
<div id="popular-rest">
  <div class="rtitle">
    <div id="popular-text">Most popular from the Top 100</div>
  </div>
  <div class="wrap">
    <a href="" data-link="{{ url_for('index') }}">
      <div class="border"></div>
      <div class="border"></div>
      <img class="lazyload">
    </a>
    <div class="name">
      <div></div>
    </div>
    <div class="info"></div>        
  </div>
  
  <div class="wrap">
    <a href="" data-link="{{ url_for('index') }}">
      <div class="border"></div>
      <div class="border"></div>
      <img class="lazyload">
    </a>
    <div class="name">
      <div></div>
    </div>
    <div class="info"></div>        
  </div>

  <div class="wrap">
    <a href="" data-link="{{ url_for('index') }}">
      <div class="border"></div>
      <div class="border"></div>
      <img class="lazyload">
    </a>
    <div class="name">
      <div></div>
    </div>
    <div class="info"></div>        
  </div>
</div>

<script src="{{ url_for('index') }}static/scripts/popular.js"></script>