
<div id="related-rest">
  <div class="rtitle">
    <div id="explore-text">There are <span class="number">99</span> restaurants in the Top 100 you haven't seen yet. <span><a class="next-link">Still hungry?</a></span></div>
    <div id="nearing-text">Only <span class="number">99</span> restaurants you haven't seen yet. <span><a class="next-link">You've almost sampled them all!</a></span></div>
    <div id="final-text">You've seen all <span class="number">100</span> restaurants in the Top 100. Did you add your favorites to <span><a href="/mylist">your list</span>?</div>
  </div>
  <div class="wrap">
    <a href="">
      <div class="border unseen"></div>
      <div class="border unseen white"></div>
      <img>
    </a>
    <div class="name">
      <div></div>
    </div>
    <div class="info"></div>        
  </div>
  
  <div class="wrap">
    <a href="">
      <div class="border unseen"></div>
      <div class="border unseen white"></div>
      <img>
    </a>
    <div class="name">
      <div></div>
    </div>
    <div class="info"></div>        
  </div>

  <div class="wrap">
    <a href="">
      <div class="border unseen"></div>
      <div class="border unseen white"></div>
      <img>
    </a>
    <div class="name">
      <div></div>
    </div>
    <div class="info"></div>        
  </div>
</div>
