<div class="secondary-link-container {% if (homepage) %}{% else %} active{% endif %}">

    <div class="secondary-link search {{homepage}}"><a href="{{ url_for('index') }}#search" class="search-link"><i class="fa fa-search" aria-hidden="true"></i> Search</a></div>

     <div class="secondary-link {{map}}"><a href="{{ url_for('index') }}map" class="map-link"><i class="fa fa-map-marker" aria-hidden="true"></i> Map</a></div>

     <div class="secondary-link {{regions}}"><a href="{{ url_for('index') }}guides/regions" class="region-link"><i class="fa fa-globe" aria-hidden="true"></i> Regions</a></div>

     <div class="secondary-link {{cuisines}}"><a href="{{ url_for('index') }}guides/cuisines" class="cuisine-link"><i class="fa fa-cutlery" aria-hidden="true"></i> Cuisines</a></div>

     <div class="secondary-link {{brunch}}"><a href="{{ url_for('index') }}guides/brunch" class="brunch-link"><i class="fa fa-coffee" aria-hidden="true"></i> Brunch</a></div>

     <div class="secondary-link {{classics}}"><a href="{{ url_for('index') }}guides/classics" class="classics-link"><i class="fa fa-certificate" aria-hidden="true"></i> Classics</a></div>

     <div class="secondary-link {{new}}"><a href="{{ url_for('index') }}guides/new" class="new-link"><i class="fa fa-plus-circle" aria-hidden="true"></i> New</a></div>
   </div>

   
  <div class="secondary-link-container-mobile {% if (homepage) %}homepage {% else %}active{% endif %}">

    <div class="secondary-link search {{homepage}}" id="search-button"><a href="{{ url_for('index') }}#search" class="search-link"><i class="fa fa-search" aria-hidden="true"></i> Search</a></div>

    <div class="secondary-link {{map}}"><a href="{{ url_for('index') }}map" class="map-link"><i class="fa fa-map-marker" aria-hidden="true"></i> Map</a></div>

    <div class="secondary-link {{regions}}"><a href="{{ url_for('index') }}guides/regions" class="region-link"><i class="fa fa-globe" aria-hidden="true"></i> Regions</a></div>

    <div class="secondary-link {{cuisines}}"><a href="{{ url_for('index') }}guides/cuisines" class="cuisine-link"><i class="fa fa-cutlery" aria-hidden="true"></i> Cuisines</a></div>

    <div class="secondary-link {{brunch}}"><a href="{{ url_for('index') }}guides/brunch" class="brunch-link"><i class="fa fa-coffee" aria-hidden="true"></i> Brunch</a></div>

    <div class="secondary-link {{classics}}"><a href="{{ url_for('index') }}guides/classics" class="classics-link"><i class="fa fa-certificate" aria-hidden="true"></i> Classics</a></div>

    <div class="secondary-link {{new}}"><a href="{{ url_for('index') }}guides/new" class="new-link"><i class="fa fa-plus-circle" aria-hidden="true"></i> New</a></div>

  </div>