{% set photos = restaurant.wcm_img.split(' ') %}
    <!-- BEGIN TWITTER SUMMARY CARD -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{restaurant.Name|safe}}: Top 100 Bay Area Restaurants 2018">
    <meta name="twitter:site" content="@sfchronicle">
    <meta name="twitter:url" content="http://projects.sfchronicle.com/{{config.PROJECT_YEAR}}/{{config.PRODUCTION_PATH}}/{{restaurant.Slug}}">

    <!-- Social sharing meta -->
    <meta name="description" content="Explore The Chronicle's definitive Bay Area restaurant guide from critic Michael Bauer.">
    <meta property="fb:app_id" content="537896802938133"/>
    <meta property="og:type" content="article">
    <meta property="og:title" content="{{restaurant.Name|safe}}: Top 100 Bay Area Restaurants 2018">
    <meta property="og:site_name" content="San Francisco Chronicle">
    <meta property="og:url" content="http://projects.sfchronicle.com/{{config.PROJECT_YEAR}}/{{config.PRODUCTION_PATH}}/{{restaurant.Slug}}">
    <meta property="og:image" content="https://s.hdnux.com/photos/54/11/64/{{ photos[1] }}/3/premium_gallery_landscape.jpg">
    <meta property="og:description" content="Explore The Chronicle's definitive Bay Area restaurant guide from critic Michael Bauer.">